.keyboard {
	padding: 5px;
	background-color: silver;
	border-radius: 5px;
}

.keyboard table{
	border: none;
}

.keyboard tr td{
	width: 50px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
}

.keyboard tr td input{
	width: 45px;
	height: 45px;
}

.keyboard tr td input.common{
	width: 95px;
	height: 45px;
	text-align: center;
}

.keyboard tr td input.ok{
	width: 95px;
	height: 95px;
}