<div class="ns_zznz" id="nscz_main">
    <div class="nscz_xz">
      	<h2 class="title-common">请选择<span>保育类型</span></h2>
		<p class="progress-bar-common">
			<i class="line"></i>
			<span class="step pass five1 ">土地保育</span>
			<span class="step  five2">保育类型</span>
			<span class="step  five3">操作工时</span>
			<span class="step  five4">人工数量</span>
		</p>
    </div>
   <div class="content">
		<div class="sub-title">
			<p class="left">您的信息</p>
			<p class="right">请选择<span id="nscz_title">保育类型</span></p>
		</div>
		<div class="info-operation">
			<div class="xzgs_left">
				<div class="info by">
					<div class="czmc">
						<img src="img/nscz/dkmc.png">
						<span >地块名称</span>
					</div>
					<div>
						<span id="by_dkmc">D_101</span>
					</div>
				</div>	
				<div class="info by">
					<div class="czmc">
						<img src="img/nscz/bylx.png">
						<span >保育类型</span>
					</div>
					<div id="by_lx" data-v=""></div>
				</div>
				<div class="info by">
					<div class="czmc">
						<img src="img/common/gs.png">
						<span >操作工时(小时)</span>
					</div>
					<div>
						<span id="by_gs"></span>
					</div>
				</div>
				<div class="info by">
					<div class="czmc">
						<img src="img/common/rgsl.png">
						<span >人工数量(人)</span>
					</div>
					<div>
						<span id="by_rgsl"></span>
					</div>
				</div>
			</div>
			<div class="xzgs_right" id="subContainer">
			</div>
		</div>
	</div>
	
      <div class="operation">
      		<a class="mui-btn prev">上一步</a>
			<a class="mui-btn next">下一步</a>
      </div>
      
</div>
<!--描述：保育类型-->
<script type="text/html" id="by_sub1">
	<ul class="ggfs_ul by">
		<li class="item" data-type="by_gwmp">
			<span>高温闷棚</span>
			<img src="img/nscz/by_gwmp.png"/>
		</li>
		<li class="item" data-type="by_sgxd">
			<span>深耕消毒</span>
			<img src="img/nscz/by_sgxd.png"/>
		</li>
		<li class="item" data-type="by_qyyz">
			<span>蚯蚓养殖</span>
			<img src="img/nscz/by_qyyz.png"/>
		</li>
		<li class="item" data-type="by_qt">
			<span>其他</span>
			<img src="img/nscz/by_qt.png"/>
		</li>
	</ul>
</script>

<!--描述：工时-->
<script type="text/html" id="by_sub2">
	<div class="xzsl">
		<div class="mui-numbox"  data-numbox-step="1" data-numbox-min="1">
		   <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
		   <input id="gs_number" class="mui-numbox-input" type="number">
		   <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
		</div>
		<span>小时</span>
	</div>
</script>
<!--描述：人工数量-->
<script type="text/html" id="by_sub3">
	<div class="line">
		<button>5人</button>
		<button>10人</button>
		<button>15人</button>
		<button>100人</button>
		<button>200人</button>
		<button>500人</button>
	</div>
	<div class="xzsl">
		<div class="mui-numbox"  data-numbox-step='1' data-numbox-min='1' >
		  <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
		  <input id="rgsl_number" class="mui-numbox-input" type="number" />
		  <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
		</div>
		<span>人</span>
	</div>
</script>