<div class="keyboard">
	<table>
		<tr>
			<td><input type="button" name="key7" value="7" data-val="7"></td>
			<td><input type="button" name="key8" value="8" data-val="8"></td>
			<td><input type="button" name="key9" value="9" data-val="9"></td>
			<td><input type="button" name="key_backspace" value="Backspace" data-val="backspace" class="common"></td>
		</tr>
		<tr>
			<td><input type="button" name="key4" value="4" data-val="4"></td>
			<td><input type="button" name="key5" value="5" data-val="5"></td>
			<td><input type="button" name="key6" value="6" data-val="6"></td>
			<td><input type="button" name="clear" value="clear" data-val="clear" class="common"></td>
		</tr>
		<tr>
			<td><input type="button" name="key1" value="1" data-val="1"></td>
			<td><input type="button" name="key2" value="2" data-val="2"></td>
			<td><input type="button" name="key3" value="3" data-val="3"></td>
			<td rowspan="2"><input type="button" name="confirm" value="ok" data-val="ok" class="ok"></td>
		</tr>
		<tr>
			<td colspan="2"><input type="button" name="key0" value="0" data-val="0" class="common"></td>
			<td><input type="button" name="dot" value="." data-val="."></td>
		</tr>
	</table>
</div>