<div class="ns_zznz" id="nscz_main">
    <div class="nscz_xz">
      	<h2 class="title-common">请选择农资数量</h2>
		<p class="progress-bar-common">
			<span class="line"></span>
			<span class="step now  five1 ">添加农资</span>
			<span class="step  five2">操作工时</span>
			<span class="step  five3">人工数量</span>
			<span class="step  five4">打印清单</span>
		</p>
    </div>
   <div class="content">
		<div class="sub-title">
			<p class="left">库存</p>
			<p class="right">总计</p>
		</div>
		<div class="info-operation">
			<div class="left">
				<div class="left_t" id="ck_nz">
					<dd class="nzinfo">
						<span>序号</span>
						<span>商品</span>
						<span>数量</span>
					</dd>
					<div class="nzinfo" id="nzc_a1001">
						<span>1</span>
						<span>百枯草</span>
						<span>
							<div class="mui-numbox" data-numbox-min='1' id="ck_num">
							  <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
							  <input class="mui-numbox-input" type="number"/>
							  <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
							</div>
						</span>
					</div>
				</div>
				<div class="left_b">
					<div class="zj">
						总计：<span id="cktotal">1</span>
					</div>
				</div>	
			</div>
			<div class="right">
				<div class="right_t">
					<div class="nzinfo" id="1001">
						<span>百枯草(201801)</span>
						<span>100ml/瓶</span>
						<span >
							<a data-type="reduce" class="disable">-</a>
							<a data-type="add" class="dianji">+</a>
						</span>
					</div>
					<div class="nzinfo" id="1002">
						<span>百枯草(201802)</span>
						<span>100ml/瓶</span>
						<span>
							<a data-type="reduce" class="disable">-</a>
							<a data-type="add" class="dianji">+</a>
						</span>
					</div>
					<div class="nzinfo" id="1003">
						<span>百枯草(201803)</span>
						<span>100ml/瓶</span>
						<span>
							<a data-type="reduce" class="disable">-</a>
							<a data-type="add" class="dianji">+</a>
						</span>
					</div>
				</div>
				<div class="right_b">
					<div class="o_left">
						<a id="prev">
							<span><</span> 
						 	<span>上一页</span>
						</a>
					</div>
					<div class="o_left">
						<a id="next">
							<span>下一页</span>
							<span>></span> 
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
      <div class="operation">
      		<a class="mui-btn prev">上一步</a>
			<a class="mui-btn next">下一步</a>
      </div>
      
    </div>

