<div class="nscz_main" id="nscz_main">
    <div class="nscz_xz">
      	<h2 class="title-common">请选择您的操作目的</h2>
		<p class="progress-bar-common">
			<span class="line"></span>
			<span class="step now  two1 ">农事操作</span>
			<span class="step  two2">操作地块/种植档案</span>
		</p>
    </div>
    <div class="nscz_main_box">
        <div  class="nscz_main_h">
        	<div class="nscz_main_ckl">
               	<!--操作地块和种植档案ul切换 -->
               	<!--种植档案-->
               	<ul id="sml_zzda"  class="ns_ckul">
               		<!--<li id="sml_zzda_1" class="zzda_main_c_li">
	                	<div class="nscz_qymc2">
	                		<img src="img/nscz/xhg.png">
	                		<span>荷兰小黄瓜</span>
	                	</div>
	      				<p>区域:D0.7</p>
	      				<p>种植编号：zz00001</p>
	      				<p>区域：D1_01</p>
		            </li>-->
               	</ul>
	      		
	      		<!--操作地块-->
	      		<ul id="sml_czdk"  class="ns_ckul"  style="display: none;">
	      			<!--<li class="zzda_main_c_li cur" id="sml_czdk_1">
		                	<div class="nscz_qymc1">D10</div>
		      				<div class="nscz_qyif1">
		      					<p>区域01</p>
		      					<p>面积：1.23</p>
		      				</div>
		            </li>-->
	      		</ul>
	      		<div class="nscz_main_qhlx">
	      			<a class="cur" href="#" type="zzda">种植档案</a>
	      			<a href="#" type="czdk"> 操作地块</a>
	      		</div>
      		</div>
          	<span  class="nscz_qcz">请选择农事操作</span>
        </div>
        <div  class="zzda_main_c">
        	<div class="nscz_main_lt">
        		<ul class="nscz_main_lt_ul" id="big_zzda" >
        			<li class="" id="big_zzda_1">
	                	<div class="nscz_qymc2">
	                		<img src="img/nscz/xhg.png" />
	                		<span>荷兰小黄瓜</span>
	                	</div>
	      				<p>区域:D0.7</p>
	      				<p>种植编号：zz00001</p>
	      				<p>区域：D1_01</p>
	      				<input class="nscz_ckl_1" type="checkbox" checked/>
		            </li>
		            <li  id="big_zzda_2">
	                	<div class="nscz_qymc2">
	                		<img src="img/nscz/xhg.png" />
	                		<span>荷兰小黄瓜</span>
	                	</div>
	      				<p>区域:D0.7</p>
	      				<p>种植编号：zz00001</p>
	      				<p>区域：D1_01</p>
	      				<input class="nscz_ckl_1" type="checkbox" checked/>
		            </li>
		            <li id="big_zzda_3">
	                	<div class="nscz_qymc2">
	                		<img src="img/nscz/xhg.png" />
	                		<span>荷兰小黄瓜</span>
	                	</div>
	      				<p>区域:D0.7</p>
	      				<p>种植编号：zz00001</p>
	      				<p>区域：D1_01</p>
	      				<input class="nscz_ckl_1" type="checkbox" checked/>
		            </li>
		            <li id="big_zzda_4">
	                	<div class="nscz_qymc2">
	                		<img src="img/nscz/xhg.png" />
	                		<span>荷兰小黄瓜</span>
	                	</div>
	      				<p>区域:D0.7</p>
	      				<p>种植编号：zz00001</p>
	      				<p>区域：D1_01</p>
	      				<input class="nscz_ckl_1" type="checkbox" checked/>
		            </li>
		            <li id="big_zzda_5">
	                	<div class="nscz_qymc2">
	                		<img src="img/nscz/xhg.png" />
	                		<span>荷兰小黄瓜</span>
	                	</div>
	      				<p>区域:D0.7</p>
	      				<p>种植编号：zz00001</p>
	      				<p>区域：D1_01</p>
	      				<input class="nscz_ckl_1" type="checkbox" checked/>
		            </li>
		            <li id="big_zzda_5">
	                	<div class="nscz_qymc2">
	                		<img src="img/nscz/xhg.png" />
	                		<span>荷兰小黄瓜</span>
	                	</div>
	      				<p>区域:D0.7</p>
	      				<p>种植编号：zz00001</p>
	      				<p>区域：D1_01</p>
	      				<input class="nscz_ckl_1" type="checkbox" checked/>
		            </li>
        		</ul>
        		<ul class="nscz_main_lt_ul" id="big_czdk" style="display: none;">
		              <li class="" id="big_czdk_1">
		                	<div class="nscz_qymc1">D10</div>
		      				<div class="nscz_qyif1">
		      					<p>区域：A01</p>
		      					<p>面积：1.23</p>
		      				</div>
		      				<input class="nscz_ckl_1" type="checkbox" checked/>
		              </li>
		               <li id="big_czdk_2">
		               		 <div class="nscz_qymc1">D10</div>
		      				<div class="nscz_qyif1">
		      					<p>区域A：02</p>
		      					<p>面积：1.23</p>
		      				</div>
		      				<input class="nscz_ckl_1" type="checkbox" checked/>
		              </li>
		              <li id="big_czdk_3">
		                <div class="nscz_qymc1">D10</div>
		      				<div class="nscz_qyif1">
		      					<p>区域A：02</p>
		      					<p>面积：1.23</p>
		      				</div>
		      				<input class="nscz_ckl_1" type="checkbox" checked/>
		              </li>
		               <li id="big_czdk_4">
		                <div class="nscz_qymc1">D10</div>
		      				<div class="nscz_qyif1">
		      					<p>区域A：02</p>
		      					<p>面积：1.23</p>
		      				</div>
		      				<input class="nscz_ckl_1" type="checkbox" checked/>
		              </li>
		               <li id="big_czdk_5">
		                <div class="nscz_qymc1">D10</div>
		      				<div class="nscz_qyif1">
		      					<p>区域A：02</p>
		      					<p>面积：1.23</p>
		      				</div>
		      				<input class="nscz_ckl_1" type="checkbox" checked/>
		              </li>
		        </ul>
        		
        	</div>
           <div class="nscz_main_rt">
           		<ul class="nscz_bzlxul" id="oprateDataUl">
           			<li class="cur" id="nsType_1">
           				<div class="nscz_xznscz"><img src="img/nscz/bozhong.jpg" /></div>
           				<span>播种</span>
           			</li>
           			<li id="nsType_2">
           				<div class="nscz_xznscz"><img src="img/nscz/shifei.jpg" /></div>
           				<span>施肥</span>
           				<i class="nscz_jrnscz"></i>
           			</li>
           			<li  id="nsType_3" >
           				<div class="nscz_xznscz"><img src="img/nscz/yongyao.jpg" /></div>
           				<span>用药</span>
           				<i class="nscz_jrnscz"></i>
           			</li>
           			<li  id="nsType_4" data-url="/nscz_gg">
           				<div class="nscz_xznscz"><img src="img/nscz/guangai.jpg" /></div>
           				<span>灌溉</span>
           				<i class="nscz_jrnscz"></i>
           			</li>
           			<li id="nsType_5" data-url="/nscz_cs">
           				<div class="nscz_xznscz"><img src="img/nscz/caishou.jpg" /></div>
           				<span>采收</span>
           				<i class="nscz_jrnscz"></i>
           			</li>
           		</ul>
           		<script type="text/html" id="oprateData">
       				{{each list value index }}
           				<li id="{{value.id}}" data-url="/nscz_{{value.wCode}}">
	           				<div class="nscz_xznscz"><img src="img/nscz/{{value.wIcon}}" /></div>
	           				<span>{{value.wName}}</span>
	           			</li>
       				{{/each}}
       			</script>
           	</div>
        </div>
      </div>
      <div class="operation">
      		<a class="mui-btn prev">返回</a>
			<a class="mui-btn next">下一步</a>
      </div>
      
    </div>

