<div class="ns_zznz" id="nscz_main">
    <div class="nscz_xz">
      	<h2 class="title-common">请选择<span>操作工时</span></h2>
		<p class="progress-bar-common">
			<i class="line"></i>
			<span class="step pass five1 ">灌溉方式</span>
			<span class="step  five2">水源类型</span>
			<span class="step  five3">灌溉量</span>
			<span class="step  five4">操作工时</span>
			<span class="step  five5">人工数量</span>
		</p>
    </div>
   <div class="content">
		<div class="sub-title">
			<p class="left">您的信息</p>
			<p class="right">请选择<span id="nscz_title">灌溉方式</span></p>
		</div>
		<div class="info-operation">
			<div class="xzgs_left">
				<div class="info gg">
					<div class="czmc">
						<img src="img/nscz/dkmc.png">
						<span >地块名称</span>
					</div>
					<div>
						<span id="nscz_dkmc">D_101</span>
					</div>
				</div>	
				<div class="info gg">
					<div class="czmc">
						<img src="img/nscz/ggfs.png">
						<span >灌溉方式</span>
					</div>
					<div id="nscz_ggfs" data-v=""></div>
				</div>
				<div class="info gg">
					<div class="czmc">
						<img src="img/nscz/sylx.png">
						<span >水源类型</span>
					</div>
					<div id="nscz_sylx" data-v="">
					</div>
				</div>
				<div class="info gg">
					<div class="czmc">
						<img src="img/nscz/ggl.png">
						<span >灌溉量(小时)</span>
					</div>
					<div>
						<span id="nscz_ggl"></span>
					</div>
				</div>
				<div class="info gg">
					<div class="czmc">
						<img src="img/common/gs.png">
						<span >操作工时(小时)</span>
					</div>
					<div>
						<span id="nscz_gs"></span>
					</div>
				</div>
				<div class="info gg">
					<div class="czmc">
						<img src="img/common/rgsl.png">
						<span >人工数量(人)</span>
					</div>
					<div>
						<span id="nscz_rgsl"></span>
					</div>
				</div>
			</div>
			<div class="xzgs_right" id="subContainer">
			</div>
		</div>
	</div>
	
      <div class="operation">
      		<a class="mui-btn prev">上一步</a>
			<a class="mui-btn next">下一步</a>
      </div>
      
</div>
<!--描述：灌溉方式-->
<script type="text/html" id="gg_sub1">
	<ul class="ggfs_ul">
		<li class="item" data-type="gg_pg">
			<span>喷灌</span>
			<img src="img/nscz/gg_pg.png"/>
		</li>
		<li class="item" data-type="gg_gg">
			<span>沟灌</span>
			<img src="img/nscz/gg_gg.png"/>
		</li>
		<li class="item" data-type="gg_dg">
			<span>滴灌</span>
			<img src="img/nscz/gg_dg.png"/>
		</li>
	</ul>
</script>
<!--描述：水源类型-->
<script type="text/html" id="gg_sub2">
	<ul class="ggfs_ul">
		<li class="item" data-type="sy_ys">
			<span>雨水</span>
			<img src="img/nscz/sy_ys.png"/>
		</li>
		<li class="item" data-type="sy_hs">
			<span>河水</span>
			<img src="img/nscz/sy_hs.png"/>
		</li>
		<li class="item" data-type="sy_zls">
			<span>自来水</span>
			<img src="img/nscz/sy_zls.png"/>
		</li>
		<li class="item" data-type="sy_js">
			<span>井水</span>
			<img src="img/nscz/sy_js.png"/>
		</li>
	</ul>
</script>
<!--描述：灌溉量-->
<script type="text/html" id="gg_sub3">
	<div class="xzsl">
		<div class="mui-numbox"  data-numbox-step="1" data-numbox-min="0">
		   <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
		   <input id="gs_number" class="mui-numbox-input" type="number">
		   <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
		</div>
		<span>小时</span>
	</div>
</script>
<!--描述：工时-->
<script type="text/html" id="gg_sub4">
	<div class="xzsl">
		<div class="mui-numbox"  data-numbox-step="1" data-numbox-min="1">
		   <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
		   <input id="gs_number" class="mui-numbox-input" type="number">
		   <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
		</div>
		<span>小时</span>
	</div>
</script>
<!--描述：人工数量-->
<script type="text/html" id="gg_sub5">
	<div class="line">
		<button>5人</button>
		<button>10人</button>
		<button>15人</button>
		<button>100人</button>
		<button>200人</button>
		<button>500人</button>
	</div>
	<div class="xzsl">
		<div class="mui-numbox"  data-numbox-step='1' data-numbox-min='1' >
		  <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
		  <input id="rgsl_number" class="mui-numbox-input" type="number" />
		  <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
		</div>
		<span>人</span>
	</div>
</script>