<div class="p-plots-seek area-plots-common">
	<h2 class="title-common">在田信息查询</h2>
	<div class="content">
		<div id="areaPlotsWrapper" class="e plot-wrap-common">
			
		</div>
		<!--<div class="area-plots">
			<div class="area">
				<a href="javascript:void(0);" class="e single active" data-plots="areaOne">区域1</a>
				<a href="javascript:void(0);" class="e single" data-plots="areaTwo">区域2</a>
				<a href="javascript:void(0);" class="e single" data-plots="areaThree">区域3</a>
			</div>
			<ul class="e plots p-clear" id="areaOne">
				<li class="item kongxian">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" id="check1"/>
						<label class="replace-box" for="check1"></label>
						<span class="state">空闲1</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item kongxian">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" id="check2"/>
						<label class="replace-box" for="check2"></label>
						<span class="state">空闲</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item baoyu">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" />
						<span class="state">保育</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item baoyu">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" />
						<span class="state">保育</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item baoyu">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" />
						<span class="state">保育</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item zhongzhi">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" />
						<span class="state">种植</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item baoyu">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" />
						<span class="state">保育</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
			</ul>
		
			<ul class="e plots p-clear p-hide-important" id="areaTwo">
				<li class="item kongxian">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" id="check1"/>
						<label class="replace-box" for="check1"></label>
						<span class="state">空闲2</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item kongxian">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" id="check2"/>
						<label class="replace-box" for="check2"></label>
						<span class="state">空闲</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item baoyu">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" />
						<span class="state">保育</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item baoyu">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" />
						<span class="state">保育</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item baoyu">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" />
						<span class="state">保育</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item zhongzhi">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" />
						<span class="state">种植</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item baoyu">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" />
						<span class="state">保育</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
			</ul>
		
			<ul class="e plots p-clear p-hide-important" id="areaThree">
				<li class="item kongxian">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" id="check1"/>
						<label class="replace-box" for="check1"></label>
						<span class="state">空闲3</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item kongxian">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" id="check2"/>
						<label class="replace-box" for="check2"></label>
						<span class="state">空闲</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item baoyu">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" />
						<span class="state">保育</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item baoyu">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" />
						<span class="state">保育</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item baoyu">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" />
						<span class="state">保育</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item zhongzhi">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" />
						<span class="state">种植</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
				<li class="item baoyu">
					<div class="inner">
						<input class="box" type="checkbox" name="" value="" />
						<span class="state">保育</span>
						<p class="info">
							<span class="name">D10</span>
							<span class="size">0.7亩</span>
						</p>
					</div>
				</li>
			</ul>
		</div>-->

		
		<div class="btn-operate-common">
			<a href="#/index" class="btn-common back">返回</a>
			<!--<a href="javascript:void(0);" class="btn-common bg-green-common next">下一步</a>-->
		</div>
	</div>
</div>