<div class="p-task-status">
	<h2 class="title-common">请选择您的操作目的</h2>
	<p class="progress-bar-common">
		<span class="line"></span>
		<span class="step pass two1 ">刷卡</span>
		<span class="step now two2">操作目的</span>
	</p>
	<div class="content">
		<div class="sub-title">
			<p class="left">您的卡片</p>
			<p class="right">请您选择操作目的</p>
		</div>
		<div class="info-operation">
			<div class="left">
				<div class="info">
					<p>卡号:</p>
					<p class="value" id="rfidCode"></p>
					<p>操作人:</p>
					<p class="value" id="userName"></p>
					<p>有效期:</p>
					<p class="value" id="effectiveDate"></p>
				</div>
			</div>
			
			<ul class="right">
				<li class="item" data-url="/nscz">
					<p class="inner">
						<span class="heading">农事操作</span>
						<img src="./img/task_status/nscz.png"/>
					</p>
				</li>
				<li class="item" data-url="/zzda-archive">
					<p class="inner">
						<span class="heading">种植档案</span>
						<img src="./img/task_status/zzda.png"/>
					</p>
				</li>
				<li class="item" data-url="/by_Index">
					<p class="inner" >
						<span class="heading">土地保育</span>
						<img src="./img/task_status/tdby.png"/>
					</p>
				</li>
				<li class="item" data-url="/plots-seek">
					<p class="inner">
						<span class="heading">在田查询</span>
						<img src="./img/task_status/ztcx.png"/>
					</p>
				</li>
			</ul>
		</div>
	</div>
	<a href="javascript:void(0);" class="btn-common exit">退出</a>
</div>