
<div class="p-zzda-plot area-plots-common">
	<h2 class="title-common">请选择操作地块</h2>
	<p class="progress-bar-common">
		<span class="line"></span>
		<span class="step pass six1 ">新建档案</span>
		<span class="step now six2">选择地块</span>
		<span class="step six3">种植时间</span>
		<span class="step six4">种植标准</span>
		<span class="step six5">作物名称</span>
		<span class="step six6">种植面积</span>
	</p>
	<div class="content">
		<div class="selected-plots">
			<div class="inner">
				<ul class="plots p-clear" id="selectedPlotWrapper">
					<!--<li class="item kongxian">
						<div class="inner">
							<input class="box" type="checkbox" name="" value="" id=""/>
							<label class="replace-box" for="check1"></label>
							<span class="state">空闲</span>
							<p class="info">
								<span class="name">D10</span>
								<span class="size">0.7亩</span>
							</p>
						</div>
					</li>
					<li class="item kongxian">
						<div class="inner">
							<input class="box" type="checkbox" name="" value="" id=""/>
							<label class="replace-box" for="check1"></label>
							<span class="state">空闲</span>
							<p class="info">
								<span class="name">D10</span>
								<span class="size">0.7亩</span>
							</p>
						</div>
					</li>
					<li class="item kongxian">
						<div class="inner">
							<input class="box" type="checkbox" name="" value="" id=""/>
							<label class="replace-box" for="check1"></label>
							<span class="state">空闲</span>
							<p class="info">
								<span class="name">D10</span>
								<span class="size">0.7亩</span>
							</p>
						</div>
					</li>
					<li class="item kongxian">
						<div class="inner">
							<input class="box" type="checkbox" name="" value="" id=""/>
							<label class="replace-box" for="check1"></label>
							<span class="state">空闲</span>
							<p class="info">
								<span class="name">D10</span>
								<span class="size">0.7亩</span>
							</p>
						</div>
					</li>
					<li class="item kongxian">
						<div class="inner">
							<input class="box" type="checkbox" name="" value="" id=""/>
							<label class="replace-box" for="check1"></label>
							<span class="state">空闲</span>
							<p class="info">
								<span class="name">D10</span>
								<span class="size">0.7亩</span>
							</p>
						</div>
					</li>
					<li class="item kongxian">
						<div class="inner">
							<input class="box" type="checkbox" name="" value="" id=""/>
							<label class="replace-box" for="check1"></label>
							<span class="state">空闲</span>
							<p class="info">
								<span class="name">D10</span>
								<span class="size">0.7亩</span>
							</p>
						</div>
					</li>
					<li class="item kongxian">
						<div class="inner">
							<input class="box" type="checkbox" name="" value="" id=""/>
							<label class="replace-box" for="check1"></label>
							<span class="state">空闲</span>
							<p class="info">
								<span class="name">D10</span>
								<span class="size">0.7亩</span>
							</p>
						</div>
					</li>
					<li class="item kongxian">
						<div class="inner">
							<input class="box" type="checkbox" name="" value="" id=""/>
							<label class="replace-box" for="check1"></label>
							<span class="state">空闲</span>
							<p class="info">
								<span class="name">D10</span>
								<span class="size">0.7亩</span>
							</p>
						</div>
					</li>
					<li class="item kongxian">
						<div class="inner">
							<input class="box" type="checkbox" name="" value="" id=""/>
							<label class="replace-box" for="check1"></label>
							<span class="state">空闲</span>
							<p class="info">
								<span class="name">D10</span>
								<span class="size">0.7亩</span>
							</p>
						</div>
					</li>
					<li class="item kongxian">
						<div class="inner">
							<input class="box" type="checkbox" name="" value="" id=""/>
							<label class="replace-box" for="check2"></label>
							<span class="state">空闲</span>
							<p class="info">
								<span class="name">D10</span>
								<span class="size">0.7亩</span>
							</p>
						</div>
					</li>-->
				</ul>
			</div>
			<span class="sub">操作地块</span>
		</div>
		<div id="ZZDAAreaPlotsWrapper" class="e plot-wrap-common">
			
		</div>
		<div class="btn-operate-common">
			<a href="javascript:void(0);" class="btn-common e back">返回</a>
			<a href="javascript:void(0);" class="btn-common bg-green-common next e">下一步</a>
		</div>
	</div>
</div>