<div class="p-zzda">
	<h2 class="title-common" id="stepMainTitle">请选择种植时间</h2>
	<p class="progress-bar-common">
		<span class="line"></span>
		<span class="step pass six1 ">新建档案</span>
		<span class="step pass six2">选择地块</span>
		<span class="step now six3">种植时间</span>
		<span class="step six4">种植标准</span>
		<span class="step six5">作物名称</span>
		<span class="step six6">种植面积</span>
	</p>
	
	<div class="content">
		<div class="title p-clear">
			<p class="left">您的种植档案信息</p>
			<p class="right" id="stepSubTitle">请选择种植时间</p>
		</div>
		<div class="wrapper p-clear">
			<ul class="left">
				<li class="item">
					<p class="caption dkmc"><span>地块名称</span></p>
					<p data-index='1' class="value"></p>
				</li>
				<li class="division-common">
					<p></p><p></p><p></p><p></p>
				</li>
				<li class="item">
					<p class="caption zzsj"><span>种植时间</span></p>
					<p data-index='2' class="value"></p>
				</li>
				<li class="division-common">
					<p></p><p></p><p></p><p></p>
				</li>
				<li class="item">
					<p class="caption zzbz"><span>种植标准</span></p>
					<p data-index='3' class="value"></p>
				</li>
				<li class="division-common">
					<p></p><p></p><p></p><p></p>
				</li>
				<li class="item">
					<p class="caption zwmc"><span>作物名称</span></p>
					<p data-index='4' class="value"></p>
				</li>
				<li class="division-common">
					<p></p><p></p><p></p><p></p>
				</li>
				<li class="item">
					<p class="caption zzmj"><span>种植面积</span></p>
					<p data-index='5' class="value"></p>
				</li>
			</ul>
			<div class="right" id="plantOperate">
				
			</div>

		</div>
	</div>
	
	<div class="zzda-button">
		<a href="javascript:void(0);" id="back" class="btn-common back">返回</a>
		<a href="javascript:void(0);" id="next" class="btn-common bg-green-common">下一步</a>
	</div>
	
</div>